* , .container-fluid {
    margin: 0px;
    padding: 0px;
    /*overflow: hidden;*/
}
.wrapper {
    overflow : hidden;
}
.gioi-thieu {
    overflow : hidden;
}
a:hover {
    text-decoration: none;
}
.banner {
    position: relative;
}
.menu-head {
    background-color: #212121;
    width: 100%;
    padding: 0px 100px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    opacity: 0.8;
}
.menu-head .list-menu {
    padding: 28px 0px;
}

.menu-head .list-menu ul li {
    float: left;
    list-style: none;
    margin-right: 32px;
}

.menu-head .list-menu ul li a {
    color: white;
    font-size: 16px;
    font-weight: 600;
}
.menu-head .list-menu ul li a:hover {
    text-decoration: none;
    color: #EAD701;
} 

.banner img {
    width: 100%;
    height: 540px;
}
.search_product {
    text-align: center;
    padding: 35px 0px;
    background-color: #F5F5EF;
}
.info_search {
    width: 100%;
    margin-bottom: 20px;
    padding-left:5px;
    padding-right:5px;
}
.search_product .text_search h2 {
    text-transform: uppercase;
    color: #5AA057
}
.search_product .text_search .text_code {
    width: 80%;
    border-right: 0px;
}
.search_product .text_search .subimit_code {
    width: 20%;
    height: 45px;
    border: 0px;
    background-color: #5AA057;
}
.search_product .text_search span a {
    color: #4DA80A;
}
.date-product {
    color : #3FAA5D;
}
.product button {
    padding: 10px 30px;
    border-radius: 30px;
    border: 1px solid  #7dc243;
    background-color: white;
}
.product button a {
    color: #7dc243;
    font-weight: 600;
}
.product button:hover {
    background-color: #5AA057;
}
.product button:hover a {
    color : #fff;
}
.products-sale {
    /*text-align: center;*/
    padding: 15px 0px;
}
#title-shops {
    text-align: center;
}
#title-products {
    text-align: center;
}
#product_container {
    text-align: center;
}
.products-sale h2 {
    text-transform: uppercase;
    color: #5AA057
}
.products-sale .product {
    border: 1px solid #e6e6e6;
    margin-bottom: 20px;
    padding: 10px 0px;
}
.products-sale .product .img_product {
    width: 100%;
}
.name-product {
    margin-top: 10px;
}
.name-product a {
    font-size: 18px;
    color: black;
}
.name-product a:hover {
    font-size: 18px;
    color: #FFA200;
}
.products-sale span a{
    font-size: 20px;
    color: #4DA80A;
    text-transform: uppercase;
}
.introduce {
    text-align: center;
    background-color: #F5F5EF;
    padding: 15px 0px 0px 0px;
}
.introduce h2 {
    text-transform: uppercase;
    color: #5AA057;
}
/*.icon-introduce {
    border-radius: 10px;
    background-color: #65D711;
}*/
.why {
    margin-bottom: 15px;
}
.we_do {
    padding: 15px 0px;
    background: url(../img/bg3.jpg) no-repeat bottom left;
    background-color: white;
}   
.we_do .text_we_do h3{
    font-weight: bold;
    color:#4DA83F ;
}
.menu_footer {
    text-align: center;
    background-color: #023102;
    height: 70px;
    padding: 26px 0px;
}
.menu_footer ul li {
    float: left;
    list-style: none;
    margin-right: 15px;
}
.menu_footer ul li  a {
    color: white;
}
.contact {
    text-align: left;
    background-color: #DF6A1B;
    /*padding: 90px 0px;*/
    padding-top: 58px;
    padding-bottom:15px;
}
.detail-contact h3 {
    font-weight: 600;
}
.social {
    text-align: center;
    margin-top: 30px;
}
.social i {
    color: #fff;
    margin-right: 3%;
    font-size: 34px;
}
.detail-contact h3 {
    font-size: 23px;
}
.detail-contact h3, .detail-contact p {
    color: white;
}
.detail-contact p i {
    font-size: 27px;
    width: 36px;
}
    
.menu-head1 {
    background-color: #165616;
    padding: 0px 100px;
    z-index: 1;

}
.menu-head1 .list-menu {
    padding: 28px 0px;
}

.menu-head1 .list-menu ul li {
    float: left;
    list-style: none;
    margin-right: 50px;
}

.menu-head1 .list-menu ul li a {
    color: white;
    font-size: 16px;
}
.menu-head1 .list-menu ul li a:hover {
    text-decoration: none;
    color: #EAD701;
} 
.carousel-inner {
    position: relative;
}
.carousel-inner .item img {
    height: auto;
    width: 100%;
}
.carousel-inner .btn {
    position: absolute;
    top: 80%;
    left: 43%;
    width: 200px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
}

.img-logo img{
    height: 55px;
}

.img-contact {
    background-image: url('../img/lienhe-header.png');
    height: 150px;
}
.img-contact-header {
    text-align: center;
    padding: 30px 0px;
}
.img-contact-header h1 {
    color: #fff;
    text-transform: uppercase;
}
.map-contact {
    margin: 50px 0px;
}
.text-contact > span {
    font-size: 18px;
    color: #787878;
    padding-top: 10px;
}
.text-content-map {
    margin-top: 10px;
    margin-bottom: 20px;
}
.text-contact img {
    margin-left: 15px;
    margin-right: 10px;
}
.text-content-map img {
    margin-left: 30px;
    margin-right: 5px;
 }
.text-content-map .row {
     margin-top: 20px;
 }
.text-content-map i {
     margin-left: 30px;
     margin-right: 5px;
 }

.menu-head .row .col-xs-3 , .menu-head1 .row .col-xs-3{
    margin-left: -100px;
    margin-top: 10px;
}
.menu-head .row .col-xs-9 , .menu-head1 .row .col-xs-9{
     margin-left: 65%;
 }
.menu-head .row .col-xs-9 .list-menu , .menu-head1 .row .col-xs-9 .list-menu {
     width: 80%;
 }
.menu-head .row .col-xs-9 .list-menu button , .menu-head1 .row .col-xs-9 .list-menu button {
    padding: 0px 28px;
    background: #f7f709;
    width: 135%;
}

.menu-head .row .col-xs-9 .list-menu ul li , .menu-head1 .row .col-xs-9 .list-menu ul li{
    margin-top: 10px;
}
.img-introduce {
    background-image: url('../img/banner4.jpg') ;
    background-repeat: no-repeat; 
    background-size: cover;
    height: 210px;
}
.img-introduce .img-contact-header h1 {
    font-weight: 600;
}
.text-aboutme {
    text-align: center;
}
.text-aboutme h3 {
    text-transform: uppercase;
    /*font-size: 23px;*/
    font-weight: 600;
    color: #5AA057;
}
.text-aboutme p {
    font-size: 18px;
}
.sumenh {
    background: url('../img/bgabout.png')  no-repeat bottom right;;
  
    background-size: cover;
    height:300px;
}
.text-sumenh {
    text-align: center;
}
.text-sumenh h1 {
    color: #2ca203;
    font-size: 40px;
    text-transform: uppercase;
}
.text-sumenh h3 {
    color: #507803;
    font-size: 24px;
    padding: 5px 0 10px 0;
    text-transform: uppercase;
}
.text-sumenh p {
    font-size: 18px;
    color: #303023;
    /*font-family: helveticaword;*/
    text-align: justify;
}
.team {
    /*text-align: center;*/
    padding: 5% 30%;
    width: 100%;
}

.img-team {
    float: left;
    margin-right: 10px;
}
.img-team img {
    width: 113px;
    height: 113px;
    border-radius: 50%;
    border: 3px solid #e0dfce;
}
.name-team {
    padding: 15px 0px;
    width: 110%;
}
.tbold {
    font-weight: bold;
}
.info-team {
    text-align: center;
    padding: 0% 10%;
}
.info-team span {
    font-size: 18px;
}

 .menu-green {
        background-color: #165616 !important;
        opacity: 1;
}
 .body-container {
     margin-top: 66px;
 }
 .tuyen-dung .text-contact h4 {
    color: #1a409a; font-weight: bold;
 }
.tuyen-dung .text-contact p {
      line-height: 22px;
  }
 .tuyen-dung .text-contact b {
    color: #5ca226;
  }
.tuyen-dung .text-contact h1 b {
      color: #1a409a; 
      font-weight: bold;
  }
/*media query*/
/*Ipad ngang(1024 x 768)*/
@media screen and (max-width: 1024px){
   .menu-head .list-menu ul li {
        margin-right: 15px;
    }
    .menu-head1 .list-menu ul li {
        margin-right: 15px;
    }
    .menu-head .row .col-xs-3, .menu-head1 .row .col-xs-3 {
        margin-left: -105px;
        margin-top: 10px;
    }
    .menu-head .row .col-xs-9 .list-menu ul li, .menu-head1 .row .col-xs-9 .list-menu ul li {
        width: 84%;
    }
    .banner {
            margin-top: 85px;
    }
}
/*Ipad dọc(768 x 1024)*/
@media screen and (max-width: 768px){
    .menu-head {
        background-color: #212121;
        width: 100%;
        /*padding: 5px 100px;*/
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 1;
        opacity: 0.8;
    }
    .menu-head .col-sm-3 {
        margin-right: 20px;
        margin-left: -60px;
        margin-top: 10px;
    }
    .menu-head .col-sm-9 {
        width: 81%;
    }
    .menu-head .list-menu ul li {
        margin-right: 10px;
    }
    .menu-head .list-menu ul li a {
        font-size: 18px;
    }
    .menu-head1 .col-sm-3 {
        margin-right: 20px;
        margin-left: -60px;
        margin-top: 10px;
    }
    .menu-head1 .col-sm-9 {
        width: 81%;
    }

   
    .menu-head .list-menu , .menu-head1 .list-menu {
        /*padding: 20px 0px;*/
        width: 100% !important;
    }
    .fa-bars {
        /*margin-left: 70%;*/
        float: right;
       
    }
    .menu-head1 .list-menu ul li {
        margin-right: 10px;
    }
    .menu-head1 .list-menu ul li a {
        font-size: 14px;
    }
    .introduce .why h2 {
        font-size: 16px;
    }
    .menu_footer {
        padding: 15px 40px;
    }
    .contact {
        /*padding: 20px;*/
        padding-top:0px;
    }
    .carousel-inner .btn {
        position: absolute;
        top: 80%;
        left: 38%;
        width: 200px;
        height: 50px;
        font-size: 16px;
        font-weight: bold;
    }
    .products-sale h2 {
        text-transform: uppercase;
        color: #4DA80A;
        font-size: 22px;
    }
    .fb-social {
        margin-top: 21px;
    }   
       
}
/*Tablet nhỏ(480 x 640)*/
@media screen and (max-width: 480px){
    .menu-head .list-menu , .menu-head1 .list-menu {
        padding: 20px 0px;
    }
    .carousel-inner .btn {
        position: absolute;
        top: 80%;
        left: 27%;
        width: 200px;
        height: 50px;
        font-size: 16px;
        font-weight: bold;
    }
}
/*Iphone(480 x 640)*/
@media screen and (max-width: 320px){
    .carousel-inner .btn {
        position: absolute;
        top: 80%;
        left: 23%;
        width: 200px;
        height: 50px;
        font-size: 16px;
        font-weight: bold;
    }
    
}
/*Smart phone nhỏ  and max-width: 1280px*/
@media screen and (max-width: 240px){
    
}


.text-introduce{
    font-size: 18px;
}